<div class="app-container">
  <h1>Witamy na naszej siłowni!</h1>

  <!-- Sekcja O nas -->
  <section class="about-us">
    <h2>O nas</h2>
    <p>
      Nasza siłownia to miejsce, gdzie każdy znajdzie coś dla siebie. Oferujemy nowoczesne
      wyposażenie, doświadczonych trenerów oraz szeroki wybór zajęć fitness. Niezależnie od tego,
      czy jesteś początkującym, czy doświadczonym sportowcem, pomożemy Ci osiągnąć Twoje cele.
    </p>
  </section>

  <div class="membership-container">
    <h2>Cennik karnetów</h2>
    <ul>
      <li *ngFor="let pass of membershipPasses">
        <strong>{{ pass.length }} dni:</strong> {{ pass.price | currency:'PLN' }}
      </li>
    </ul>
  </div>

</div>

