<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <h3 class="logo">Gym</h3>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="closeMenu()" routerLink="/user/classes">Zajęcia</li>
            <li (click)="closeMenu()" routerLink="/user/account"><a>Moje konto</a></li>
            <li (click)="logout()">Wyloguj</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
